---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Times New Roman", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fdfdfd;#111;
$background-color: #111;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.video-heading {
	width: 67.5%
}
.video-heading span {
	font-size: 16px; 
	float:right; 
	padding-top: 1.5%
}
.home img {
	width: 60%;
	margin: 0 auto;
	display: block;
    padding-bottom: 16px;
}
@media (min-width: 600px) { 
	.home {
		img {
			width: 250px;
			float: left;
			padding-top: 4px;
		}
		p {
			margin-left: 280px;
		}
	}
}

footer p {
	font-size: 15px;
}